@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .masonry-4-col {
      column-count: 4;
      column-gap: 1em;
    }
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .masonry-1-col {
      column-count: 1;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@font-face {
  font-family: DM Dans;
  src: url("../public/fonts/DMSans-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    apple color emoji, segoe ui emoji, Segoe UI Symbol, noto color emoji;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: #e7e2df;
}
::-webkit-scrollbar-thumb {
  background-color: #65c3c8;
  border-radius: 10px;
  -webkit-box-shadow: #e7e2df 0 3px 13px 1px;
}

* {
  box-sizing: border-box;
}

:root {
  --size-bezel: 0.5rem;
}

.my_input {
  position: relative;
}

.my_input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.6) calc(var(--size-bezel));
  white-space: nowrap;
  transform: translate(0.25rem, -80%) scale(0.8);
  transform-origin: 0 0;
  background: hsl(var(--b1) / var(--tw-bg-opacity));
  transition: opacity 120ms ease-in;
  line-height: 1.2;
  opacity: 0;
  border-radius: 5px;
}

.my_input__field:focus + .my_input__label,
.my_input__field:not(:placeholder-shown) + .my_input__label {
  opacity: 1;
}
